@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Nasa School !</h1>
</div>

<body>
    <img style="display: block; margin: 0 auto;"
         src="https://t.ctcdn.com.br/CgXYkXzLQvvhXTxTDLykz9ePGLI=/400x400/smart/filters:format(webp)/i490082.jpeg" alt="Logo Nasa">
</body>