@model StudentModel
@{
    ViewData["Title"] = "Add Student";
}
<div class="text-center">
    <h1 class="display-4">Add Student</h1>
</div>

    <form asp-controller="Student" asp-action="Add" method="post">

        <div class="form-group">
            <label for="full name">Full name</label>
            <input type="text" asp-for="FullName" class="form-control" placeholder="Type your full name">
            @Html.ValidationMessageFor(x => x.FullName)
        </div>

        <div class="form-group">
            <label for="ssn" class="form-label">SSN</label>
            <input type="number" asp-for="Ssn" class="form-control" placeholder="Type your SSN">
            @Html.ValidationMessageFor(x => x.Ssn)
        </div>

        <div class="form-group">
            <label for="year" class="form-label">Year</label>
            <input type="text" asp-for="Year" class="form-control" placeholder="Type your Year">
            @Html.ValidationMessageFor(x => x.Year)
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-secondary btn-block" asp-controller="Student" asp-action="Index" role="button">Back</a>
    </form>
