@model StudentModel
@{
    ViewData["Title"] = "Edit Student";
}
<div class="text-center">
    <h1 class="display-4">Edit Student</h1>
</div>

    <form asp-controller="Student" asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" asp-for="FullName" class="form-control" placeholder="Type your full name">
        </div>

        <div class="form-group">
            <label for="name" class="form-label">SSN</label>
            <input type="text" asp-for="Ssn" class="form-control" placeholder="Type your SSN">
        </div>

        <div class="form-group">
            <label for="name" class="form-label">Year</label>
            <input type="text" asp-for="Year" class="form-control" placeholder="Type your Year">
        </div>

        <button type="submit" class="btn btn-primary btn-block" asp-controller="Student" asp-action="Alterar" >Edit</button>
        <a class="btn btn-secondary btn-block" asp-controller="Student" asp-action="Index" role="button">Back</a>
    </form>
